# Database connection
DATABASE_URL=

# Sentry
SENTRY_AUTH_TOKEN=
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=
SENTRY_ENABLE_LOGS=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Public vars
NEXT_PUBLIC_URL=http://localhost:3000

# Social Providers
# Twitch
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
# X
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=